@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&family=Tajawal&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');
:root {
    --bs-body-bg: #08090D;
    --cor1: #08090D;
    --cor2: #101114;
    --cor3: #FF7A46;
    --cor4: #CBCBCB;
    --cor5: #FFBA9E;
    --cor6: #495482;
    --cor7: #FCA17D;
    
    --fonte-padrao: 'Poppins', cursive;
    --fonte-destaque: 'Pacifico', cursive;
    --fonte-menu: 'Tajawal', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: var(--cor1);
}
.header-menu {
    background: var(--cor2);
    box-shadow: 0px -50px 250px rgba(97, 124, 125, 0.56);
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
.cabecalho-menu {
    display: flex;
    gap: 32px;

}
.cabecalho-menu-abner{
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
.cabecalho-menu-item {
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    /*line-height: 29px;*/
}
.conteudo{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}
.conteudo-principal {
    margin: auto;
    /*position: absolute;
    width: 310px;
    height: 72px;*/

}
/*.astronauta {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 469px;
    top: 207px;*/

.titulo{
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}
.titulo-strong{
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FF7A46;
    text-shadow: -2px 3px 113px #FF7A46;
}
.sub-titulo{
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-indent: 65px;
    color: #CBCBCB;
    text-shadow: 0px 4px 250px #FFBA9E;
}
.botao-lateral{
    /* next */
    width: 48px;
    height: 48px;

}
.next{
    /* About Me */
    width: 107px;
    height: 27px;
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
/* identical to box height */
    color: #FFFFFF;
}
.conteudo-secundario{
    /* Estou estudando Desenvolvimento de Software Multiplataforma, conheça um pouco sobre mim! */
    width: 502px;
    height: 72px;
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    margin: auto;
    text-align: center;
    color: #FFFFFF;

}
.botoes-inferiores{
    width:305px;
	height:41px;

}
.botao-inferior-about{
    /* about me */
    width: 129px;
    height: 41px;
    filter: drop-shadow(0px 1px 250px #FFFFFF);
    background: #495482;
    border-radius: 10px;


}
.inferior-about{
    width: 69.61px;
    height: 21px;
    font-family: 'Poppins', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

}
.botao-inferior-projetos{
    box-shadow:0px 0px 200px rgba(255, 122.44814068078995, 70.12499392032623, 1);
	width:119px;
	height:41px;
    filter: drop-shadow(0px 0px 200px #FF7A46);
    background: #FCA17D;
    border-radius: 10px;
}
.inferior-projetos{
    width: 119px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF; 
}
.ao-lado {
    margin: auto;
    position: relative;
    margin-left: 90%;
}